cycler>=0.10.0
iminuit>=2.3.0
keras>=2.1.4
matplotlib>=3.0.2
numba>=0.42.1
numdifftools>=0.9.20
numpy>=1.15.4
pandas>=0.25.3
scipy>=1.2.0
tabulate>=0.8.2
tikzplotlib>=0.9.4
tqdm>=4.32.1
uncertainties>=3.0.1
